/* Estilos generales */
body {
    font-family: Arial, sans-serif;
    height: 100vh;
    width: 100%;
    background-position: center;
    //background.size: cover;
}

.sidebar{
    position: fixed;
    top: 0;
    left: 0;
    width: 110px;
    height: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    background: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(17px);
    --webkit-backdrop-filter: blur(17px);
    border-right: 10px solid rgba(255, 255, 255, 0.7);
    transition: width 0.35s ease;
}
.sidebar:hover{
    width: 260px;
}

.logo h2 {
    font-size: 1.15rem;
    font-weight: 600;
    margin-left: 15px;
    display: none;
}
.sidebar:hover .logo h2 {
    display: block;
}

.sidebar .links {
    list-style: none;
    margin-top: 20px;
    overflow-y: auto;
    scrollbar-width: none;
    height: calc(100% - 140px);
}

.sidebar .links ::-webkit-scrollbar {
    display: none;
}

.links li {
    display: flex;
    border-radius: 4px;
    align-items: center;
}

.links li:hover {
    cursor: pointer;
    background: #fff;
}

.links h4 {
    color: #222;
    font.weight: 500;
    display: none;
    margin-bottom: 10px;
}

.sidebar:hover .links h4 {
    display: block;
}

.links hr {
    margin: 10px 8px;
    boder: 1px solid #4c4c4c;
}

.sidebar:hover .links hr {
    border-color: transparent;
}

.links li span {
    padding: 12px 10px;
}

.links li a {
    padding: 10px;
    color: #000;
    display: none;
    font-weight: 500;
    white-space: nowrap;
    text-decoration: none;
}

.links .logout-link {
    margin-top: 20px;
}

header {
    background-color: #00a6bc;
    color: #00ffff;
    padding: 1px;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav ul li a {
    color: #eee;
    text-decoration: none;
}

section {
    padding: 20px;
}

footer {
    background-color: #081b29;
    color: #eee;
    text-align: center;
    padding: 10px 0;
}

/* Estilos para el banner */
.banner {
    // background-image: url('banner.jpg');
    background-size: cover;
    color: #fff;
    text-align: center;
    padding: 100px 0;
}

.banner h2 {
    font-size: 36px;
}

.banner p {
    font-size: 18px;
    margin-bottom: 20px;
}

.button {
    display: inline-block;
    background-color: #fff;
    color: #00a6bc;
    padding: 10px 20px;
    border-radius: 5px;
    text-decoration: none;
    font-weight: bold;
    transition: background-color 0.3s;
}

.button:hover {
    background-color: #00a6bc;
    color: #fff;
}

/* Estilos para la sección de servicios */
.servicios {
    background-color: #f9f9f9;
    text-align: center;
}

.servicios h2 {
    color: #333;
}

.servicios ul {
    list-style-type: none;
    padding: 0;
}

.servicios ul li {
    font-size: 20px;
    margin-bottom: 10px;
}

.servicios ul li i {
    margin-right: 10px;
}

/* Estilos para la sección "Nosotros" */
.nosotros {
    background-color: #00a6bc;
    color: #00ffff;
    text-align: center;
    padding: 50px 0;
}

.nosotros p {
    font-size: 18px;
    max-width: 600px;
    margin: 0 auto;
}
